<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'app/css/job_details.css' %}" />
  <title>TrueJob - Job Details</title>
</head>

<body id="test">
  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
    <div class="container" style="max-width: 70rem">
      <a class="logo" href="{% url 'index' %}"><i class="fa-solid fa-seedling"></i>TrueJOB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="width: 100%; justify-content: center">
          <li class="nav-item nav_first" style="padding-top: 4px">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Employees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'resume' %}">Submit Resume</a>
            </div>
          </li>
          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Recruiters
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'jobs' %}">Submit Jobs</a>
              <a class="dropdown-item" href="{% url 'company' %}">Add Company</a>
              <a class="dropdown-item" href="{% url 'jobs_and_company_data' %}">Check Applied</a>
            </div>
          </li>

          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Default dropleft button -->
      <div class="btn-group">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {% if request.user.image %}
          <img src="{{request.user.image.url}}" width="35" height="35" style="border-radius: 50%" alt="" />
          {% else %}
          <i class="fa fa-user-circle fa-2x" style="color: #b3e671"></i>
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="#navbarDropdown">
          {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'login' %}">
            <img src="{% static 'app/img/enter.png' %}" alt="no" /> Login</a>
          <a class="dropdown-item" href="{% url 'signup' %}">
            <img src="{% static 'app/img/sign-up.png' %}" alt="no" />
            Signup</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'accounts' %}">
            <img src="{% static 'app/img/setting.png' %}" alt="no" />
            Account</a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            <img src="{% static 'app/img/logout.png' %}" alt="no" /> Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5 pb-5" style="max-width: 50rem">
    <div class="s_back mb-3" style="text-align: right">
      <a class="_back_to_search" href="{% url 'searchjobs' %}"><i class="fa fa-backward"></i> Back to search</a>
    </div>
    {% for data in jobs_data %}
    <div class="card mb-3" style="border: none">
      <div class="row g-0">
        <div class="col-md-5 text-center">
          <img src="{{data.company_name.logo.url}}" class="img_size" alt="" />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h3 class="card-title">
              <svg width="23" height="23" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
              {{data.job_title}}
            </h3>
            <p class="card-text mt-4 fregrr">
              <a href="{% url 'company_data' data.company_name.id %}">
                <svg width="20" height="20" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                  <path
                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                </svg>
                {{data.company_name}}
              </a>
            </p>
            <div class="fgty67 d-flex">
              <p class="card-text mt-2" style="margin-left: 3px;width: 50%;">
                <small class="text-muted">
                  <svg width="13" height="13" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                  </svg>
                  <span>+91 </span>{{data.company_name.phone}}
                </small>
              </p>
              <p class="card-text mt-2" style="margin-left: 3px">
                <small class="text-muted">
                  <svg width="13" height="13" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                  </svg>
                  {{data.location}}
                </small>
              </p>
            </div>
            <div class="btn_apply d-flex mt-4 justify-content-end">
              <div class="savedfrt" style="margin-right: 3rem;">
                <form action="{% url 'saved' data.id %}" method="POST">
                  {% csrf_token %}
                  {% if not save_data %}
                  <button type="submit" class="apply_btn" style="outline: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                    Save
                  </button>
                  {% else %}
                  <button type="submit" class="apply_btn_no" style="outline: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                    Saved
                  </button>
                  {% endif %}
                </form>
              </div>
              <div class="aplltyu"style="float: right">
                <form action="{% url 'apply' data.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="user_id" value="{{data.user.id}}" />
                  {% if not apply_data %}
                  <input type="submit" class="apply_btn" value="Apply" />
                  {% else %}
                  <input type="submit" class="apply_btn_no" value="Unapply" />
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="border: none; border-radius: 0px; border-top: 1px solid #ccc">
      <div class="card-body">
        <div class="discriptions_">
          <h5 class="card-title">Discription</h5>
          <p class="para_disc">{{data.discription}}</p>
        </div>
        <div class="skills_ mt-5">
          <h5 class="card-title">Skills</h5>
          <p class="para_disc">{{data.skills}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>