<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TrueJob - Search Jobs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'app/css/searchjobs.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="shortcut icon" href="{% static 'app/img/Search.png' %}" type="image/x-icon" />
</head>

<body id="test">
  <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
    <div class="container" style="max-width: 70rem">
      <a class="logo" href="{% url 'index' %}"><i class="fa-solid fa-seedling"></i>TrueJOB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="width: 100%; justify-content: center">
          <li class="nav-item nav_first" style="padding-top: 4px">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Employees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'resume' %}">Submit Resume</a>
            </div>
          </li>
          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Recruiters
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'jobs' %}">Submit Jobs</a>
              <a class="dropdown-item" href="{% url 'company' %}">Add Company</a>
              <a class="dropdown-item" href="{% url 'jobs_and_company_data' %}">Check Applied</a>
            </div>
          </li>

          <li class="nav-item _divfgt" style="padding-top: 4px">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Default dropleft button -->
      <div class="btn-group">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {% if request.user.image %}
          <img src="{{request.user.image.url}}" width="35" height="35" style="border-radius: 50%" alt="" />
          {% else %}
          <i class="fa fa-user-circle fa-2x" style="color: #b3e671"></i>
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="#navbarDropdown">
          {% if not request.user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'login' %}">
            <img src="{% static 'app/img/enter.png' %}" alt="no" /> Login</a>
          <a class="dropdown-item" href="{% url 'signup' %}">
            <img src="{% static 'app/img/sign-up.png' %}" alt="no" />
            Signup</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'accounts' %}">
            <img src="{% static 'app/img/setting.png' %}" alt="no" />
            Account</a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            <img src="{% static 'app/img/logout.png' %}" alt="no" /> Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="dgrgff">
    <div class="serch_2_for">
      <div class="text-center">
        <form action="" style="display: flex; justify-content: center">
          <input type="search" name="sjob" id="search-item" placeholder="Search jobs here...."
            onkeyup="search()" autocomplete="off" />
          <button type="submit" class="btn_sefdt">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="container" style="max-width: 51rem">
      <div class="jobs-list list_if_jobs" id="jobs-list">
        {% for data in search_data %}
        <a href="{% url 'jobs_details' data.id %}">
          <div class="card" style="border: none;background-color: whitesmoke;">
            <div class="jobs">
              <div class="row g-0 row_class">
                <div class="col-md-8 j-details">
                  <h2 style="color: royalblue">
                    <svg width="23" height="23" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    {{data.job_title}}
                  </h2>
                  <div class="loc_type mt-4 d-flex">
                    <p class="_types mt-1">
                      <svg width="18" height="18" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                        <path
                          d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                      </svg>
                      {{data.company_name}} 
                    </p>
                    <p class="locat d-flex mt-2">
                      <svg width="13" height="13" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                          d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                      </svg>
                      {{data.location}}
                    </p>
                  </div>
                  <div class="disc_type mt-3">
                    <h6 style="color: #747474;font-size: 12px;font-weight: 650;">Discription</h6>
                    <div class="size_para">
                      <p class="para_disc">{{data.discription}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 text-center image">
                  <img src="{{data.company_name.logo.url}}" class="img_size" alt="" />
                </div>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <p id="_no_">No search related data</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static 'app/js/searchjobs.js' %}"></script>
</body>

</html>